*, *:before, *:after {
	box-sizing: border-box;
}

a {
	color: rgb(255, 131, 152);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

html, body {
	position: relative;
	width: 100%;
	min-height: 100%;
}

body {
	font-size: 16px;
	color: #333;
	background-color: rgb(250, 250, 250);
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input, select {
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	line-height: 1em;
	text-decoration: none;
	display: inline-flex;
	height: 2.5em;
	place-items: center;
	padding: 0em 0.75em;
	border: 1px solid rgb(228, 218, 220);	
	border-radius: 1px;

	max-width: 100%;
	min-width: 1px;
	width: 100%;
}

label {
	font-size: small;
	color: #666;
}

input:focus {
	border-color: rgb(255, 131, 152);
}

.form-field {
	display: inline-flex;
	flex-flow: column nowrap;
	margin-bottom: 1em;
}

.form-field > label {
	margin-bottom: 0.5em;
}

.button {
	height: 2.5em;
	padding: 0em 1em;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	border: none;
	background-color: transparent;
	display: inline-flex;
	place-items: center;
	justify-content: center;

	cursor: pointer;
	text-decoration: none;
}

.button.button--primary {
	background-color: rgb(255, 131, 152);
	color: white;
	border-radius: 2px;
}

.table {
	display: flex;
	flex-flow: column nowrap;
}

.table .table__row {
	display: flex;
	flex-flow: column nowrap;
	border-bottom: 1px solid lightgray;
	padding: 1em;
}

.table .table__row .table__head {
	display: none;
}

.table .table__row .table__data:before {
	display: block;
	content: attr(label);
	font-size: small;
	color: lighgray;
}

.table .table__row .table__data {
	/* display: flex; */
	margin-bottom: 1em;
}

@media screen and (min-width: 600px) {
	.table {
		display: table;
		width: 100%;
	}

	.table .table__row .table__head {
		display: table-cell;
	}

	.table .table__data, .table .table__head {
		padding: 0.75em;
	}

	.table .table__row {
		display: table-row;
		width: 100%;	

		transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
		cursor: pointer;

	}

	.table .table__row:nth-child(odd):not(.table__row--header) {
		background-color: rgba(255, 131, 152, 0.1);		
	}

	.table .table__row:not(.table__row--header):hover {
		background-color: rgba(255, 131, 152, 1);
		color: white;
	}

	.table .table__row.table__row--header .table__head{
		border-bottom: 2px solid rgb(255, 131, 152);
	}

	.table .table__row.table__row--header .table__head:first-child {
		border-top-left-radius: 3px;
	}

	.table .table__row.table__row--header .table__head:last-child {
		border-top-right-radius: 3px;
	}

	.table__row .table__data, .table__row .table__head {
		display: table-cell;
	}

	.table .table__row .table__data:before {
		display: none;
	}

}