<script>
    import { Link, navigate } from 'svelte-routing';
	import Button from '../components/Button.svelte';
	import Field from '../components/Field.svelte';
	
	import { Client } from '../services/Http.js';
	import { Auth } from '../services/Auth.js';

	Auth.isLogged().then((logged) => {
		if (!logged) {
			navigate('/login', { replace: true })
		}
	})
	
	
	let items = []

	let query = "";

	const kind = [
		{value: "inbox", label: "Caixa de Entrada", placeholder: "fulano@dasilva.com"},
		{value: "domain", label: "Domínio", placeholder: "superwebsite.com.br"}
	];
	let selectedKind = kind[0];

	function onSelectChange(event) {
		selectedKind = kind.find(x => x.value == event.target.value);		
	}

	async function search() {		
		const { data } = await Client.get('/logs', {
			params: {
				status: status,
				q: query,
				kind: selectedKind.value
			}
		});

		items = data.logs.map((log) => ({
			id: log.code,
			from: log.sender,
			to: log.recipient,
			status: log.status ? "spam" : "clean"
		}))		
	}

	let status = undefined;
	const statusOptions = [
		{value: "any", label: "Todos"},
		{value: "spam", label: "Spam"},
		{value: "clean", label: "Não Spam"},
	];

	search()

</script>

<div class="main-wrapper">
	<main>
		
		<form class="search-box" on:submit|preventDefault="{search}">
			<Field to="kind" label="">
				<select name="kind" id="kind" on:change={onSelectChange}>
					{#each kind as k }
						<option value={k.value} selected={selectedKind.value == k.value}>{k.label}</option>
					{/each}			
				</select>
			</Field>
			<div class="search-box__value">
				<Field to="search" label="">				
					<input bind:value="{query}" id="search" type="text" placeholder={selectedKind.placeholder}/>
				</Field>
			</div>
			<Field to="kind" label="">
				<select name="status" id="status" bind:value="{status}">
					{#each statusOptions as s }
						<option value={s.value}>{s.label}</option>
					{/each}			
				</select>
			</Field>
			<div>
				<Field>					
					<Button><i class="far fa-search"></i></Button>
				</Field>
			</div>
			
		</form>
		<div class="table">	
			<div class="table__row table__row--header">
				<div class="table__head">ID</div>
				<div class="table__head">Enviado por</div>
				<div class="table__head">Recebido por</div>
				<div class="table__head">Status</div>
			</div>
			{#each items as item }
			<div class="table__row">
				<div class="table__data" label="ID" >{ item.id }</div>
				<div class="table__data" label="Enviado por" >{ item.from }</div>
				<div class="table__data" label="Recebido por" >{ item.to }</div>
				<div class="table__data" label="Status">
					{#if item.status == 'clean'}
					<i class="fas fa-check" style="color: #55efc4"></i>
					{:else if item.status == 'spam' }
					<i class="fas fa-ban" style="color: #ff7675"></i>
					{:else}
					<i class="fas fa-question" style="color: #fdcb6e"></i>
					{/if}
				</div>
			</div>
			{/each}
		</div>
	</main>
</div>


<style>
	:global(body) {
		background-color: #333;
	}

	.search-box {
		display: flex;	
		place-items: center;	
		margin-bottom: 1em;
	}

	.search-box__value {
		flex-grow: 1;
		margin-right: 0.5em;
	}

	.search-box__value > :global(.field) {
		width: 100%;
	}

	:global(.field) {
		margin-right: 0.5em;		
	}

	main {
		width: 100%;
		height: 100%;

        display: flex;
		flex-flow: column nowrap;
		padding: 1em;


		background-color: white;
		box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
		border-radius: 4px;
	}

	.main-wrapper {
		padding-top: 2em;
		margin: 0 auto;
		width: 100%;
		max-width: 960px;
		height: 100%;
	}
</style>