<script>
	import Button from '../components/Button.svelte';

	import { Client } from '../services/Http.js';
	import { Auth } from '../services/Auth.js';
	import { navigate } from 'svelte-routing';
	
	import axios from 'axios';

	let username = '';
	let password = '';
	let processing = false;
	let error = '';

	async function onSubmit(event) {
		event.preventDefault();
		processing = true;
		const success = await Auth.login(username, password);	
		processing = false;			
		if (success) {
			navigate('/', { replace: true })
		} else {
			error = 'Usuário e/ou senha inválidos.'
		}
	}

</script>

<div class="background"></div>
<main>
	<div class="login">
		<img src="images/background.jpg" alt="" class="login__image">
		<form method="post" on:submit="{onSubmit}" class="login__form">
			<h2>Postfix Log Analyzer</h2>
			<p>Por favor, entre com as credenciais para acessar o sistema.</p>
			<div class="form-field">
				<label for="username">Usuário:</label>
				<input type="text" placeholder="root" name="username" id="username" bind:value="{username}">
			</div>
			<div class="form-field">			
				<label for="password">Senha:</label>
				<input type="password" name="password" id="password" bind:value="{password}">
			</div>
			{#if error}
				<small style="color: red; text-align: center; margin: 0.5em">{ error }</small>
			{/if}
			<Button class="button--primary" primary waiting={processing}>
				Entrar
			</Button>
		</form>
	</div>
</main>

<style>
	.background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #333;
		z-index: -1;
	}

	main {
		width: 100%;
		height: 100%;

		display: flex;
		place-items: center;
		justify-content: center;
	}

	.login {
		position: relative;
		background-color: white;
		border-radius: 4px;
		overflow: hidden;
		margin: 2em;

		width: 100%;
		max-width: 40em;
		
		height: 100%;
		max-height: 32em;
	}

	.login .login__image {
		position: absolute;
		object-fit: cover;
		width: 40%;
		height: 100%;
	}

	.login .login__form {
		height: 100%;
		margin-left: 40%;
		padding: 2em;

		display: flex;
		flex-flow: column nowrap;
		place-content: center;
		
	}

	.login .login__form p {
		margin: 0;
		margin-bottom: 2em;
	}

</style>