<script>
    import { createEventDispatcher } from 'svelte'
    const dispatch = createEventDispatcher()

    export let waiting = false;
    export let primary = false;
</script>

<button class="button" class:button--primary={primary} on:click="{(event) => dispatch('click')}">    
    {#if waiting }
        <i class="far fa-spinner-third fa-spin"></i>
    {:else}
        <slot></slot>
    {/if}
</button>

<style>
</style>