<script>
    export let to = '';
    export let label = '';
</script>

<div class="field">
    <label class="field__label" for={to}>{ label }</label>
    <div class="field__inner">
        <slot></slot>
    </div>
    
</div>

<style>
    .field {
        display: inline-block;
        position: relative;
        padding-top: 1em;
    }

    .field .field__inner {
        display: flex;
        justify-content: stretch;
    }

    .field .field__label {
        position: absolute;        
        top: 0.5em;
        left: 0.5em;
    }
</style>