<script>
	import { Router, Link, Route } from 'svelte-routing';
	import Dashboard from './views/Dashboard.svelte'
	import Login from './views/Login.svelte'

	export let url = '';
</script>

<Router url="{url}">
	<!-- <Link to="login">Login</Link> -->
	<Route path="login" component="{Login}" />
	<Route path="/"><Dashboard/></Route>
</Router>

<style>

</style>